* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans Display", sans-serif;
  background-color: rgb(255, 254, 198);
}

header {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-areas: "icon" "navv";
  background-color: rgb(223, 221, 148);
  /* justify-items: center; */
}

header img {
  width: 20px;
  height: 20px;
}

.icon {
  grid-area: icon;
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  transform: scale(1.2, 1.2);
}

.navv {
  grid-area: navv;
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  justify-self: stretch;
  margin: 5px;
  padding: 5px;
}
.navv ul {
  list-style: none;
  text-align: center;
}
.navv li a {
  margin: 10px auto;
  padding: auto;
  text-decoration: none;
}
.menu li a:hover {
  color: white;
  background-color: chocolate;
  border-radius: 60px;
  border: solid 0.5px black;
}
.section1 {
  background-image: url("https://images.unsplash.com/photo-1438109382753-8368e7e1e7cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}
.section2 .foto_banner2 img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
}

.section3 .container_client {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.section3 .container_client .client {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyCIMoVvgeUorJg7MCWuN11stqaQMzCRJA9Q&usqp=CAU");
  width: 50%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5px;
  margin: 5px;
}

.img_redes_footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.img_redes_footer img {
  width: 10%;
  margin: 10px;
  padding: auto;
}

.title {
  font-weight: 700;
  margin-right: 60px;
  padding: 20px;
  font-size: 1.5rem;
  width: 400px;
}
.title_text {
  font-weight: 200;
  font-style: italic;
  margin-right: 10px;
  width: 400px;
  padding: 20px;
  font-size: 1.25rem;
}

.title_second {
  font-weight: 400;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.title_second_text {
  font-weight: 200;
  font-style: italic;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

/* Productos */
.title_general {
  background-color: rgba(252, 250, 129, 0.884);
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.box_img_product {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.box_img_product .img {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyCIMoVvgeUorJg7MCWuN11stqaQMzCRJA9Q&usqp=CAU");
  width: 75%;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5px;
  margin: 5px;
  color: wheat;
  text-align: center;
}

/* Envios */
.text_envios {
  margin: 20px;
  padding: 20px;
}
/* CONTACTOS */

.form {
  display: flex;
  justify-content: center;
}

.ingresar {
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.ingresar_2 {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ingresar_2_check {
  padding: 2px;
}
.ingresar_3 {
  padding: 2px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* SERVICIOS */
.section_services .services {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
}
.services_text {
  text-align: center;
  margin: 5px;
  padding: 5px;
}
.services_img {
  background-image: url(./img/img_aleatoria.png);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5px;
  margin: 5px;
}

@media screen and (min-width: 480px) {
  .menu li a {
    padding: 3px;
  }
  .menu li a:hover {
    color: white;
    background-color: chocolate;
    border-radius: 60px;
    border: solid 0.5px black;
  }
  .section3 .container_client {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .section3 .container_client .client {
    width: 60%;
    height: 150px;
  }
  .img_redes_footer img {
    width: 4%;
  }

  .box_img_product .img {
    width: 80%;
    height: 200px;
    padding: 10px;
    margin: 10px;
  }
  .section_services .services {
    align-items: center;
    justify-items: center;
  }
  .services_img {
    width: 75%;
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    display: grid;
    grid-template-columns: 20% 80%;

    grid-template-areas: "icon navv";

    /* justify-items: center; */
  }
  .icon {
    grid-area: icon;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .navv {
    grid-area: navv;
    margin: auto;
    margin-right: 20px;
    margin-left: 20px;
    padding: auto;
  }

  .navv .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: stretch;
    justify-content: space-between;
    /* margin: auto;
    padding: auto; */
  }

  .menu {
    margin: auto;
    margin-right: 20px;
    margin-left: 20px;
    padding: auto;
  }
  .menu li {
    margin: 20px auto;
  }
  .menu li a {
    padding: 15px;
  }
  .menu li a:hover {
    color: white;
    background-color: chocolate;
    border-radius: 60px;
    border: solid 0.5px black;
  }
  header img {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 5px;
  }
  .img_redes_footer img {
    width: 3%;
  }
  .box_img_product {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .box_img_product .img {
    width: 100%;
    height: 300px;
    padding: 20px;
    margin: 20px;
  }
  .section_services .services {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
  }
  .services_img {
    width: 100%;
    height: 300px;
  }
}
